<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="../public/bootstrap.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         verbose="false">

    <testsuite name="OPHPORTUNIDADES - Suite de Testes">
        <directory>.</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory>../src/Ophportunidades</directory>
        </whitelist>
    </filter>
</phpunit>